@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: fadeInAnimation 1.5s ease-in-out;
}

/* General Styles */



.input-invalid {
  border: 1px solid red !important;
}

body {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #000;
}

:root {
  --bg-fundo-light: #65a3d6;
  --bg-fundo-dark: #0a1f53;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-fundo-dark);
  transition: 0.3s;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-fundo-light);
}

::-webkit-scrollbar-thumb:focus {
  border-radius: 20px;
}

/* @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

main {
  display: block;
  background-color: #fff;
}

/* Header Styles */

header {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 20px 0;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: transform 0.4s;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

nav ul a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav ul li {
  font-size: 1.3em;
  font-family: "Cabin", sans-serif;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

/* Parallax Styles */

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}

.container h2 {
  color: #fff;
  letter-spacing: 5.5px;
}

.container span {
  color: var(--bg-fundo-light);
  font-size: 25px;
}

.module {
  height: 500px;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

section.module p {
  margin-bottom: 40px;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module.content {
  padding: 40px 0;
  background: var(--bg-fundo-dark);
  height: 105vh !important;
}

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 40%,
      #000 100%);
  background: -webkit-linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 40%,
      #000 100%);
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 40%,
      #000 100%);
}

section.module.parallax-1 {
  background-image: url("../imgs/festabg.jpg") !important;
}

section.module.parallax-2 {
  background-image: url("../imgs/festaWhite.jpg") !important;
}

/*
section.module.parallax-3{
  background-image: url("https://images.unsplash.com/photo-1472162314594-eca3c3d90df1?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
} */

section.module.parallax h1 {
  color: #fff;
  text-align: center;
  font-size: 78px;
  z-index: 50;
  text-transform: uppercase;
}

/* Style Imgs */

.card {
  --bs-card-border-color: none;
  background: none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.09);
}

.card-body {
  background-color: var(--bg-fundo-light);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 5%;
}

.card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.btn {
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
  margin-top: 5%;
}

span .services {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* Contact Style */

.btnContact {
  z-index: 99999;
  width: 150px;
  margin: 5% auto;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

.btnContact:hover {
  background-color: #ccc;
  color: #fff;
}

#carouselExampleCaptions {
  display: none;
}

/* Style Form */

.body {
  background-color: #161616;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.form-row {
  margin-bottom: 20px;
}

.row {
  padding-top: 1%;
}

.form-label {
  font-weight: bold;
}

textarea {
  margin-top: 2%;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
  height: calc(2.8rem + calc(var(--bs-border-width) * 2));
  min-height: 0;
  padding-top: 10px;
  border: none;
  font-size: 15px;
}

.form2 {
  width: 100%;
  margin-right: 9%;
}

.form-floating>label {
  color: #595c5f;
  top: -6px;
}

.form-floating {
  margin-bottom: 10px;
  position: relative;
}

.form-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #757575;
}

.optionGeneral {
  color: #5f5f5f;
}

.btn-submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}

form {
  display: grid;
  gap: 10px;
  width: 36%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #aecacd;
  border-radius: 20px;
  padding: 35px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.h1Form {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  padding: 0.5%;
  font-family: "Archivo", sans-serif;
}

.container_1,
.container_2,
.container_3,
.container_4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 1.5%;
}

#btnForm {
  padding: 2%;
  border-radius: 15px;
  border: none;
  background-color: #ffffffb7;
  transition: 0.3s;
  width: 70%;
  margin: 0 auto;
  color: #000;
}

#btnForm:hover {
  transform: scale(1.09);
}

.form-date {
  z-index: 1000;
  position: relative;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  font-size: 80%;
  color: #6c757d;
  top: 10px;
  left: 5px;
  transition: opacity 0.2s ease;
}

input[type="date"]:focus+.placeholder,
input[type="date"]:not(:placeholder-shown)+.placeholder {
  opacity: 0;
}

.btnReturn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #AECACD;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 2%;
}

.btnReturn:hover {
  background-color: #8bbcc2;
  transform: scale(1.09);
}

.btnReturn a {
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.hamburger-menu {
  display: none;
}


.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.instagram:hover {
  background-color: purple;
}

.social-icons a.github:hover {
  background-color: #6CC644
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}
/* Mobile Style */

@media screen and (max-width: 1080px) {

  /* Header Style */
  .g-4 {
    display: none !important;
  }

  nav {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  /* Services Style */

  #carouselExampleCaptions {
    display: block;
    z-index: 1;
  }

  .btnContact {
    z-index: 1;
  }

  .d-block {
    display: inline !important;
  }

  .w-100 {
    width: 73% !important;
  }

  .carousel-item img {
    border-radius: 20px;
    z-index: -1;
  }

  .carousel-caption h5 {
    z-index: 9999999;
    color: #fff;
  }

  .row-cols-1>* {
    width: 73%;
  }

  section.module.content {
    position: relative;
  }

  section.module h2 {
    font-size: 32px;
  }

  .module h2,
  p {
    padding: 0 8px;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  section.module.parallax h1 {
    font-size: 36px;
    z-index: 0;
  }

  form {
    width: 90%;
  }

  .form-control {
    margin: 0;
  }

  .form-floating>label {
    font-size: 15px;
  }

  .form-date {
    width: 100%;
    max-width: 100%;
  }

  .servicos {
    width: 100%;
  }

  .container_4 {
    display: flex;
    flex-direction: column;
  }

  .site-footer {
    padding: 45px 15px 20px;
  }

  .site-footer h6{
    margin-left: 2.5%;
  }

  .rowResponsive{
    flex-wrap: wrap !important;
  }

  .row>*{
    flex-shrink: 1 !important;
  }

  .footer-links li{
    margin-left: 2.5%;
  }
}



@media print {
  body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
  }

  form {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
  }

  .form-label {
    font-weight: normal;
  }

  .btn-submit {
    display: none;
  }

  .btnReturn {
    display: none;
  }

  .container_1,
  .container_2,
  .container_3,
  .container_4 {
    grid-template-columns: 1fr;
  }

  .row {
    display: block;
  }

  .form-control,
  .form-select {
    border: 1px solid #555;
    padding: 8px;
    background-color: #fff;/
  }

  textarea {
    min-height: 100px;
  }

  header ul li a {
    color: #000 !important;
  }

  .carousel-item img {
    display: none;
  }

  .col {
    flex: 1;
    max-width: calc(25% - 1rem);
  }

  .card {
    box-shadow: none;
    display: flex;
    width: 100%;
  }

  .card-body h5 {
    font-size: 1.3rem;
    width: 100%;
  }

  .g-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;
  }

  .baladas img {
    content: url('../imgs/bebidaPrint.png');
    width: 11em;
    height: auto;
  }

  .festaCasual img {
    content: url('../imgs/fotoFestaPrint.png');
    width: 11em;
    height: auto;
  }

  .festaMulher img {
    content: url('../imgs/festaMulherPrint.png');
    width: 11em;
    height: auto;
  }

  .festaEmpresarial img {
    content: url('../imgs/festaEmpresarialPrint.png');
    width: 11em;
    height: auto;
  }

  .card-title {
    display: none;
  }

  section.module.parallax-1 {
    height: 20vh !important;
    box-shadow: none;
  }

  .wrapper {
    width: 100%;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .module.parallax,
  .module.content {
    height: auto !important;
  }

  .module.parallax h1 {
    font-size: 48px;
    color: #000 !important;
  }

  .card {
    width: 100%;
  }

  #carouselExampleCaptions {
    display: none;
  }

  .row-cols-1>.col {
    width: 100%;
    margin-bottom: 20px;
  }

  #contact {
    height: 11em !important;
    width: 100%;
  }

  #h1contact {
    width: 100%;
    height: 10em;
    color: #000 !important;
    font-size: 3rem;
  }

  #footer {
    display: none;
  }

  .card h-100 img {
    width: 100px;
    height: auto;
  }

  #servicos h2 {
    color: var(--bg-fundo-light) !important;
  }
}